$pink-color: #C200AF;

.cabinet-wrapper{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-gap: 17px;
}
.my-students{
    &__wrapper{
        width: 1134px;
        height: 258px;
        background: #FFFFFF;
        box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
        border-radius: 20px;
        padding: 30px;
    }
    &__title{
        font-family: Nunito;
        font-style: normal;
        font-weight: 800;
        font-size: 29px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    &__divider{
        width: 99%;
        height: 0px;
        border: 2px solid #F7F7F7;
    }
    &__button-list{
        display: grid;
        grid-template-columns: repeat(2,max-content);
        grid-gap: 20px;
        list-style-type: none;
        :nth-child(2){
            color: $pink-color;
            &:hover::after{
                z-index: 10;
                content: '';
                position: absolute;
                top: 25px;
                left: 0;
                right: 0;
                border: 2px solid $pink-color;
            }
        }
    }
    &__button-item{
        cursor: pointer;
        position: relative;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    &:hover:after{
            z-index: 10;
            content: '';
            position: absolute;
            top: 26px;
            left: 0;
            right: 0;
            border: 2px solid #235390;
        }
    }
}
.control-panel{
    &__wrapper{
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        grid-gap: 15px;
        padding-top: 20px;
    }
    &__button-list{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 14px;
    }
    &__students-list{
        display: grid;
        grid-template-columns: repeat(8,min-content);
        align-items: center;
        justify-content: center;
        grid-column-gap: 12px;
    }
    &__button-next{
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    &__student-wrapper{
        padding: 5px;
        display: grid;
        margin: 0 auto;
        width: 92px;
        height: 105px;
        transition: background-color .4s ease;
        img{
            cursor: pointer;
        }
        *{
            margin: 0 auto;
        }
        span{
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            display: flex;
        }
    }
    &__button-add{
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 5px;
        align-items: center;
        justify-content: center;
        width: 184px;
        height: 43px;
        background-color: white;
        border: 2px solid #235390;
        box-sizing: border-box;
        border-radius: 10px;
        &__title{
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #235390;
        }   
        &:hover{
            position: relative;
            bottom: 5px;
        }
    }
}
.active-student{
    background-color: #F5E6FE;
    border-radius: 10px;
    transition: background-color .4s ease;
}
.button-pink{
    justify-content: start;
    padding-left: 7px;
    border: 2px solid $pink-color;
    &__title{
    color: $pink-color;
    }
    &:hover{
        position: relative;
        bottom: 5px;
    }
}
.progress-section{
    &__wrapper{
        width: 1134px;
        height: 1199px;
        background: #FFFFFF;
        box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
        border-radius: 20px;
        padding: 16px 30px 0 30px;
    }
    &__navigatopn-panel-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        height: 63px;
    }
    &__navigation-wrapper{
        width: min-content;
    }
    &__lesson-wrapper{
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 6px;
        span{
            margin-left: 10px;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #C200AF;
        }
    }
    &__button-list{
        display: grid;
        grid-template-columns: repeat(2,max-content);
        grid-gap: 20px;
        list-style-type: none;
        :nth-child(2){
            color: $pink-color;
            &:hover::after{
                z-index: 10;
                content: '';
                position: absolute;
                top: 25px;
                left: 0;
                right: 0;
                border: 2px solid $pink-color;
            }
        }
    }
    &__button-item{
        cursor: pointer;
        position: relative;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        &:hover::after{
            z-index: 10;
            content: '';
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            border: 2px solid #235390;
        }
    }
    &__divider{
        border: 2px solid #F7F7F7;
    }
    &__arrow{
        width: 16px;
        height: 17px;
        margin-right: 5px;
        transition: all .5s ease;
    }
    &__search-wrapper{
        display: flex;
        width: 181px;
        z-index: 1101;
        margin-left: auto;
        align-items: center;
        &__avatar{
            width: 30px;
            height: 30px;
        }
        &__search{
            margin-left: 9px;
            margin-right: 20px;
            width: 84px;
            height: 20px;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            border: unset;
            ::placeholder{
                font-family: Nunito;
                font-style: normal;
                font-weight: bold;
                color: #4F4F4F;
            }
            &:focus{
                outline: none;
            }
        }
    }
    &__table{
        background: #FFFFFF;
        box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
        border-radius: 20px;
    }
    &__table-wrapper{
        text-decoration: none;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 20px;
        width:100%;
        text-align:center;
        td,th{
            white-space:pre-wrap;
            padding:10px 5px;
            line-height:15px;
            vertical-align: middle;
            border-bottom: 1px solid #E2E2E2;
            cursor: default;
        }
        tr>:first-child{
            border-right: 1px solid #E2E2E2;
        }
        tr:hover{
            background-color:#f7e8ff;
        }
        tr:hover td{
            color:#354251;
            cursor: pointer;
        }
    }
    &__table-head{
        background: #F1FCFF;
        width: 100%;
        height: 73px;
        th{
            font-weight:bold;
            font-size:20px;
            line-height: 27px;
            font-family: Nunito;
            font-style: normal;
            color:#235390;
            background: #F1FCFF;
            border-bottom: unset;
        }
    }
    &__table-body{
        td{
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            color: #4F4F4F;
        }
    }
    &__filterd-list{
        position: absolute;
        z-index: 10;
        right: 0px;
        top: 15px;
        background-color: white;
        display: grid;
        grid-gap: 10px;
        align-items: center;
        width: 186px;
        padding-top: 41px;
    }
    &__filtred-element{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        padding: 0px 5px;
        span{
            cursor: pointer;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            color: #4F4F4F;
        }
        :hover{
            background-color: #fff;
        }
    }
}
.arrow-active{
    transform: rotate(180deg);
    transition: all .5s ease;
}
tbody{
    :last-child td{
        border-bottom: unset;
    }
}
